.setting {
	display: flex;
	flex-direction: column;
	gap: 20px 0;

	.ant-tabs-tab {
		padding: 10px 20px;
		color: rgb(114, 132, 154);
		transition: 0.4s;
		&.ant-tabs-tab-active {
			background: white;
		}
	}
	&_account {
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		.setting_tab {
			&-basic {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px 0;
				.basic_avatar {
					cursor: pointer;
					border: 1px solid #ddd;
				}
				.basic_form {
					width: 100%;
				}
			}
			&-password {
				margin-top: 20px;
			}
		}
	}
	&_network {
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		.setting_tab {
			&-network {
				display: flex;
				flex-direction: column;
				.network_item {
					&:not(:last-child) {
						border-bottom: 1px solid #eee;
						margin-bottom: 10px;
					}
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					padding: 10px 0;
					justify-content: space-between;
					gap: 20px 10px;
					&-title {
						display: flex;
						align-items: center;
						gap: 0 20px;
					}
				}
			}
		}
	}
}
